.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .logo {
  width: 222px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .logo img {
  height: 37px;
  width: 31px;
}

.navbar .logo span {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 25.861px;
  line-height: 30px;
  color: #1363D5;
}

.navbar .main-nav {
  width: 618px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .main-nav .nav-links {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: #2C3A55;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 0.322264px;
}

.navbar .main-nav .nav-btn {
  background: linear-gradient(194.13deg, #4C55FF 4.2%, #1B7CFF 98.64%);
  border-radius: 22.5px;
  border: none;
  width: 147px;
  font-family: 'Open Sans', sans-serif;
  color: #2C3A55;
  font-style: normal;
  font-size: 13px;
  font-weight: bold;
  height: 37px;
  color: #ffffff;
  letter-spacing: 0.299245px;
  text-transform: uppercase;
}

.navbar .burger {
  display: none;
}

@media screen and (max-width: 1024px) {
  .navbar {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    width: 90%;
    margin-top: 8px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .main-nav {
    position: absolute;
    height: 250px;
    width: 90%;
    margin: auto;
    padding: 0px;
    background: #ffffff;
    top: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0%;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .navbar .burger {
    display: block;
    cursor: pointer;
  }
  .navbar .main-nav-active {
    opacity: 100%;
  }
}

.hero {
  width: 930px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url("../img/random.svg");
  background-repeat: no-repeat;
  margin-top: 135px;
}

.hero .left-text {
  margin-top: 55px;
}

.hero .left-text p {
  font-family: 'Open Sans', sans-serif;
  color: #2C3A55;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  letter-spacing: 1.88px;
  text-transform: uppercase;
  margin: 0;
}

.hero .left-text h1 {
  font-family: 'Open Sans', sans-serif;
  color: #2C3A55;
  font-style: normal;
  font-size: 48px;
  font-weight: bold;
  line-height: 58px;
  margin: 0;
  margin-top: 22px;
}

.hero .left-text button {
  margin-top: 72px;
  background: linear-gradient(195.38deg, #4C55FF 0%, #1B7CFF 100%);
  border-radius: 28px;
  border: none;
  width: 200px;
  height: 55px;
  font-family: 'Open Sans', sans-serif;
  color: #2C3A55;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff !important;
  text-align: center;
  letter-spacing: 0.368302px;
  text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
  .hero {
    width: 780px;
    margin-top: 85px;
    background-image: url("../img/random.svg");
  }
  .hero .left-text {
    margin-top: 55px;
    width: 400px;
  }
  .hero .left-text h1 {
    font-family: 'Open Sans', sans-serif;
    color: #2C3A55;
    font-style: normal;
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
    margin-top: 22px;
  }
  .hero .left-text button {
    margin-top: 50px;
    width: 175px;
    height: 55px;
  }
  .hero .right-img img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    width: 80%;
    margin-left: auto;
    margin-top: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero .left-text {
    margin: auto;
    margin-top: 25px;
    width: 90%;
    text-align: left;
  }
  .hero .left-text h1 {
    font-family: 'Open Sans', sans-serif;
    color: #2C3A55;
    font-style: normal;
    font-size: 32px;
    font-weight: bold;
    line-height: 42px;
    margin-top: 16px;
    margin-right: auto;
    padding-right: 30%;
  }
  .hero .left-text button {
    margin-top: 25px;
    width: 145px;
    height: 35px;
    font-family: 'Open Sans', sans-serif;
    color: #2C3A55;
    font-style: normal;
    font-size: 14px;
    font-weight: bold;
  }
  .hero .right-img {
    width: 90%;
    text-align: center;
  }
  .hero .right-img img {
    width: 80%;
    height: auto;
  }
}

.team {
  width: 80%;
  margin: auto;
  margin-top: 10%;
}

.team h2 {
  font-family: 'Open Sans', sans-serif;
  color: #2C3A55;
  font-style: normal;
  font-size: 36px;
  font-weight: bold;
  width: 50%;
  text-align: center;
  margin: auto;
  line-height: 46px;
}

.team .ib {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

.team .ib img {
  margin: auto;
}

.team .overlay {
  text-align: center;
  height: 750px;
  background-image: url("../img/team.svg");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
}

.team .overlay p:nth-child(1) {
  position: relative;
  margin-left: auto;
  z-index: 2;
  width: 510px;
  font-family: 'Open Sans', sans-serif;
  color: #2C3A55;
  font-style: normal;
  font-size: 18px;
  font-weight: normal;
  line-height: 33px;
  text-align: left;
}

.team .overlay p:nth-child(2) {
  position: relative;
  margin-left: auto;
  margin-top: 30px;
  z-index: 2;
  width: 510px;
  font-family: 'Open Sans', sans-serif;
  color: #2C3A55;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  text-align: left;
}

.team .overlay img {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .team h2 {
    font-family: 'Open Sans', sans-serif;
    color: #2C3A55;
    font-style: normal;
    font-size: 36px;
    font-weight: bold;
    width: 75%;
    line-height: 46px;
  }
  .team .ib {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .team .ib img {
    margin: auto;
  }
  .team .overlay {
    text-align: center;
    height: 600px;
    background-image: url("../img/team.svg");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
  }
  .team .overlay p:nth-child(1) {
    position: relative;
    margin-left: auto;
    width: 310px;
    font-family: 'Open Sans', sans-serif;
    color: #2C3A55;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    text-align: left;
  }
  .team .overlay p:nth-child(2) {
    position: relative;
    margin-left: auto;
    margin-top: 25px;
    width: 310px;
    font-family: 'Open Sans', sans-serif;
    color: #2C3A55;
    font-style: normal;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    text-align: left;
  }
}

@media only screen and (max-width: 768px) {
  .team h2 {
    font-family: 'Open Sans', sans-serif;
    color: #2C3A55;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    width: 80%;
    line-height: 36px;
  }
  .team .ib {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 45px;
  }
  .team .ib img {
    margin: auto;
  }
  .team .overlay {
    text-align: center;
    height: 600px;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
  }
  .team .overlay p:nth-child(1) {
    position: relative;
    margin: auto;
    width: 310px;
    font-family: 'Open Sans', sans-serif;
    color: #2C3A55;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    text-align: center;
  }
  .team .overlay p:nth-child(2) {
    position: relative;
    margin: auto;
    margin-top: 25px;
    width: 310px;
    font-family: 'Open Sans', sans-serif;
    color: #2C3A55;
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    text-align: center;
  }
  .team .overlay img {
    margin-top: 15px;
    display: inline-block;
    width: 80%;
    height: auto;
  }
}

.services {
  width: 80%;
  margin: auto;
  margin-top: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .services-left img {
  width: 45%;
  height: auto;
}

.services .services-left .servc-down {
  margin-top: 66px;
  width: 50%;
}

.services .services-left .servc-down p {
  font-family: 'Open Sans', sans-serif;
  color: #2C3A55;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  letter-spacing: 1.88px;
  text-transform: uppercase;
}

.services .services-left .servc-down h2 {
  line-height: 46px;
  font-family: 'Open Sans', sans-serif;
  color: #2C3A55;
  font-style: normal;
  font-size: 36px;
  font-weight: bold;
}

.services .services-left .servc-down button {
  margin-top: 100px;
  background: linear-gradient(195.64deg, #4C55FF 0%, #1B7CFF 100%);
  border-radius: 28px;
  border: none;
  width: 200px;
  height: 56px;
  font-family: 'Open Sans', sans-serif;
  color: #2C3A55;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.services .rightx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65%;
}

.services .rightx .services-right {
  text-align: center;
}

.services .rightx .services-right .serv-itm p:nth-child(2) {
  font-family: 'Open Sans', sans-serif;
  color: #2C3A55;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2.82px;
  text-transform: uppercase;
}

.services .rightx .services-right .serv-itm p:nth-child(3) {
  font-family: 'Open Sans', sans-serif;
  color: #2C3A55;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  width: 240px;
}

.services .rightx .services-right .path {
  margin-top: 65px;
  margin-bottom: 75px;
}

.services .rightx .services-right .path:nth-child(4) {
  display: none !important;
}

.services .rightx .services-right1 {
  margin-top: 50px;
  text-align: center;
}

.services .rightx .services-right1 .serv-itm p:nth-child(2) {
  font-family: 'Open Sans', sans-serif;
  color: #2C3A55;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2.82px;
  text-transform: uppercase;
}

.services .rightx .services-right1 .serv-itm p:nth-child(3) {
  font-family: 'Open Sans', sans-serif;
  color: #2C3A55;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  width: 240px;
}

.services .rightx .services-right1 .path {
  margin-top: 65px;
  margin-bottom: 75px;
}

.services .rightx .services-right1 .path:nth-child(4) {
  display: none !important;
}

@media only screen and (max-width: 1024px) {
  .services {
    width: 90%;
    margin-top: 275px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .services .services-left img {
    width: 50%;
    height: auto;
  }
  .services .services-left .servc-down {
    margin-top: 56px;
    width: 55%;
  }
  .services .services-left .servc-down p {
    font-family: 'Open Sans', sans-serif;
    color: #2C3A55;
    font-style: normal;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    letter-spacing: 1.88px;
    text-transform: uppercase;
  }
  .services .services-left .servc-down h2 {
    line-height: 46px;
    font-family: 'Open Sans', sans-serif;
    color: #2C3A55;
    font-style: normal;
    font-size: 32px;
    font-weight: bold;
  }
  .services .services-left .servc-down button {
    margin-top: 80px;
    background: linear-gradient(195.64deg, #4C55FF 0%, #1B7CFF 100%);
    border-radius: 28px;
    border: none;
    width: 140px;
    height: 46px;
    font-family: 'Open Sans', sans-serif;
    color: #2C3A55;
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
  }
  .services .rightx {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .services .rightx .services-right {
    text-align: center;
  }
  .services .rightx .services-right .serv-itm p:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    color: #2C3A55;
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2.82px;
    text-transform: uppercase;
  }
  .services .rightx .services-right .serv-itm p:nth-child(3) {
    font-family: 'Open Sans', sans-serif;
    color: #2C3A55;
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    width: 150px;
  }
  .services .rightx .services-right .path {
    margin-top: 45px;
    margin-bottom: 55px;
  }
  .services .rightx .services-right .path:nth-child(4) {
    display: none !important;
  }
  .services .rightx .services-right1 {
    margin-top: 50px;
    text-align: center;
  }
  .services .rightx .services-right1 .serv-itm p:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    color: #2C3A55;
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2.82px;
    text-transform: uppercase;
  }
  .services .rightx .services-right1 .serv-itm p:nth-child(3) {
    font-family: 'Open Sans', sans-serif;
    color: #2C3A55;
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    width: 150px;
  }
  .services .rightx .services-right1 .path {
    margin-top: 45px;
    margin-bottom: 55px;
  }
  .services .rightx .services-right1 .path:nth-child(4) {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .services {
    width: 90%;
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services .services-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services .services-left img {
    width: 50%;
    height: auto;
    margin-top: 50px;
  }
  .services .services-left .servc-down {
    margin-top: 56px;
    width: 55%;
    text-align: center;
  }
  .services .services-left .servc-down p {
    font-family: 'Open Sans', sans-serif;
    color: #2C3A55;
    font-style: normal;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    letter-spacing: 1.88px;
    text-transform: uppercase;
  }
  .services .services-left .servc-down h2 {
    line-height: 34px;
    font-family: 'Open Sans', sans-serif;
    color: #2C3A55;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
  }
  .services .services-left .servc-down button {
    margin-top: 31px;
    background: linear-gradient(195.64deg, #4C55FF 0%, #1B7CFF 100%);
    border-radius: 28px;
    border: none;
    width: 140px;
    height: 46px;
    font-family: 'Open Sans', sans-serif;
    color: #2C3A55;
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
  }
  .services .rightx {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 70px;
  }
  .services .rightx .services-right {
    text-align: center;
  }
  .services .rightx .services-right .serv-itm p:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    color: #2C3A55;
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2.82px;
    text-transform: uppercase;
  }
  .services .rightx .services-right .serv-itm p:nth-child(3) {
    font-family: 'Open Sans', sans-serif;
    color: #2C3A55;
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    width: 240px;
  }
  .services .rightx .services-right .path {
    margin-top: 45px;
    margin-bottom: 55px;
  }
  .services .rightx .services-right .path:nth-child(4) {
    display: inline-block !important;
  }
  .services .rightx .services-right1 {
    margin-top: 0px;
    text-align: center;
  }
  .services .rightx .services-right1 .serv-itm p:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    color: #2C3A55;
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2.82px;
    text-transform: uppercase;
  }
  .services .rightx .services-right1 .serv-itm p:nth-child(3) {
    font-family: 'Open Sans', sans-serif;
    color: #2C3A55;
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    width: 240px;
  }
  .services .rightx .services-right1 .path {
    margin-top: 45px;
    margin-bottom: 55px;
  }
  .services .rightx .services-right1 .path:nth-child(4) {
    display: inline-block !important;
  }
}

.testimonial {
  margin-left: auto;
  margin-top: 100px;
  background-image: url("../img/random.svg");
  background-repeat: no-repeat;
}

.testimonial h2 {
  font-family: 'Open Sans', sans-serif;
  color: #2C3A55;
  font-style: normal;
  font-size: 36px;
  font-weight: bold;
  line-height: 46px;
  text-align: center;
}

.testimonial .slider {
  width: 1200px;
  margin-top: 80px;
  margin-left: auto;
}

.testimonial .slider .slid {
  width: 450px !important;
  height: 305px;
  background: #E3E5FF;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  position: relative !important;
  z-index: 1;
  overflow: visible !important;
}

.testimonial .slider .slid #olo {
  position: absolute;
  z-index: 999 !important;
  margin-top: -20px !important;
}

.testimonial .slider .slid .nam-des {
  margin-left: 30px;
}

.testimonial .slider .slid .nam-des p:nth-child(1) {
  font-family: 'Open Sans', sans-serif;
  color: #2C3A55;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
}

.testimonial .slider .slid .nam-des p:nth-child(2) {
  font-family: 'Open Sans', sans-serif;
  color: #2C3A55;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
}

.testimonial .slider .slid .star {
  margin-top: 30px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial .slider .slid .review {
  font-family: 'Open Sans', sans-serif;
  color: #2C3A55;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 30px;
}

.footer {
  width: 80%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .left-foot {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
}

.footer .left-foot .btn {
  margin-top: 155px;
}

.footer .left-foot .btn button {
  width: 121px;
  height: 47px;
  background-color: white;
  border: 1px solid #CCCEEE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  font-family: 'Open Sans', sans-serif;
  color: #2C3A55;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  line-height: 40px;
  text-align: center;
  letter-spacing: 1.88px;
  text-transform: uppercase;
  color: #4C55FF;
}

.footer .mid-foot {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.footer .mid-foot p:nth-child(1) {
  font-family: 'Open Sans', sans-serif;
  color: #2C3A55;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
}

.footer .mid-foot p:nth-child(2) {
  font-family: 'Open Sans', sans-serif;
  color: #2C3A55;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  line-height: 40px;
}

.footer .right-foot {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.footer .right-foot p:nth-child(1) {
  font-family: 'Open Sans', sans-serif;
  color: #2C3A55;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
}

.footer .right-foot p:nth-child(2) {
  font-family: 'Open Sans', sans-serif;
  color: #2C3A55;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  line-height: 40px;
}

.fin {
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #2C3A55;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}

.fin img {
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .footer {
    width: 80%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .left-foot {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .footer .left-foot .btn {
    margin-top: 15px;
  }
  .footer .left-foot .btn button {
    width: 121px;
    height: 47px;
    background-color: white;
    border: 1px solid #CCCEEE;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #2C3A55;
    font-style: normal;
    font-size: 12px;
    font-weight: normal;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1.88px;
    text-transform: uppercase;
    color: #4C55FF;
  }
  .mid-foot {
    text-align: center;
  }
  .right-foot {
    text-align: center;
  }
}

.high {
  text-decoration: underline;
  -webkit-text-decoration-color: #CCCEEE;
          text-decoration-color: #CCCEEE;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */