@import "./header";
@import "./hero";
@import "./team";
@import "./services";
@import "./test";
@import "./footer";
.high{
    text-decoration: underline;
    text-decoration-color: #CCCEEE;    
    cursor: pointer;
}
// #slideshow {
//     div {
//       width: 100%;
//       height: 300px;
//       img { 
//         width: 100%;
//         height: auto;
//       }
//     }
//   }
  